face-recognition==1.2.3
face-recognition-models==0.3.0
Flask-Cors==3.0.6
pymongo==3.7.2
Click==7.0
Flask==1.0.2
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.1
numpy==1.16.2
opencv-python==4.0.0.21
Pillow==8.3.2
pytesseract==0.2.6
Werkzeug==0.14.1
Flask-Login==0.4.1


