body{
    background:linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)), url("../images/splash_background.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
    display:flex;;
    flex-direction: column;
    text-align: center;
}