
form {
    text-align: center;
}

#image-input-label {
    display: inline-block;
    margin: 100px auto 100px auto;
}

#image-input {
    visibility:hidden;
    width:0;
    height:0;
}

#volvo-logo {
    height: 50px;
    width: auto;
    padding: 10px 0 0 20px;
}

