body {
    background-color: #f4f4f4;
}


/* label color */
.input-field label {
    color: #f4f4f4 !important;
    font-family: Lato, "Helvetica Neue";
 }
 
 .row .input-field input  {
   border-bottom: 1px solid #f45844 !important;
   box-shadow: 0 1px 0 0 #f45844 !important
 }
 
 .input-field input:focus + label {
   color: #f4f4f4 !important;
    font-family: Lato, "Helvetica Neue";
 }
 
 .input-field input:focus + label {
   color: #f4f4f4 !important;
     font-family: Lato, "Helvetica Neue";
 }
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid #f4f4f4 !important;
   box-shadow: 0 1px 0 0 #f4f4f4 !important
 }
 


h1,h2,h3,h4,p,a{
    color: #30303F;
    font-family: 'Lato', sans-serif !important;
}

#cam-icon {
    font-size: 40px;
}

form {
    text-align: center;
}

#image-input-label, #license-input-label {
    display: inline-block;
}

#image-input, #license-input {
    visibility:hidden;
    width:0;
    height:0;
}

#volvo-logo {
    margin-left: -18px;
    height: 50px;
    width: auto;
    padding: 10px 0 0 20px;
}

#selfie, #license {
    margin: 0 auto;
}
