body{
    background: url("../images/5.jpeg") no-repeat center center fixed;
    filter: brightness(80%);
    background-size: cover;
    height: 100%;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
}

html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

.div1 {
    margin-top: 100%;
    color: white;
    align-items: center;
    align: center;
    align-content: center;
    text-align: center;
}

.p1 {

    font-family: 'Roboto', sans-serif;
    letter-spacing:-10px;
    color: #333333;
    font-size:150px;
}

.img1 {
    width: 50%;
    height: auto;
    -webkit-filter:invert(100%);
    filter:progid:DXImageTransform.Microsoft.BasicImage(invert='1');
}