<nav>
    <div class="nav-wrapper white">
        <a href="#!" class="brand-logo center-align"><img id="volvo-logo" src="./static/images/volvo-logo-scaled.png"></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons black-text">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a class="black-text" href="/signup">Sign up</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a class="black-text" href="/signup">Sign up</a></li>
</ul>