<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin="" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <link rel="stylesheet" href="../static/css/map.css"/>
  <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
    crossorigin=""></script>
  <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
  <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
  <script src="../static/js/leaflet.rotatedMarker.js"></script>

</head>

<body>
    <div id="mapid"></div>
    <div class="divSearch">
        <p class="p1" id="textfield">Where will we go <b style="color:brown; font-size: 30px;"> today?</b> </p>
         <div class="input-field" style= "width: 90%;margin: 5%;background-color: transparent;">
              <input id="search" type="search" required style="font-size: 25px; height: 30px;">
              <label for="search"><i class="material-icons" style="background-color: transparent; height: 50px; ">search</i></label>
         </div>
         <ul class="collection" id="locationslist">
        </ul>
    </div>

</body>

<script src="../static/js/map.js"></script>

</html>