<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Volvo Share</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="manifest " href="/static/manifest.json">
    <meta name="theme-color" content="#f45844">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
    <script src="../static/js/login.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<form action="/login" method="post">
    <div style="margin: 20%"></div>
    <div class="div1">
        <div class="row " style="text-align:center;">
            <a id="logintext">Login with your VolvoShare account</a>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="name" type="text" class="validate" name="name">
            <label for="name">Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate" name="password">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row" align="center">
            <button id="loginbutton" class="btn waves-effect waves-light" type="submit" value="Submit">Login
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
</form>
<div class="div2">
    <a id="signuptext">You don't have an account?</a>
    <a id="signupbutton" onclick="signup()" class="waves-effect waves-light btn-large"><i class="material-icons left">person_pin</i>SignUp</a>
    <img src="../static/images/volvo.png" id="logo">
</div>
<script>

  var sw;
      var isSubscribed;
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/static/sw.js')
        .then((registration) => {
          console.info('Service worker registration successful, scope is:', registration.scope);
          sw = registration;
          if ('PushManager' in window) {
            // console.info('Service Worker and Push is supported');
            sw.pushManager.getSubscription()
            .then(function(subscription) {
              isSubscribed = !(subscription === null);
              if (isSubscribed) {
                console.info('User IS subscribed.');
              } else {
                console.info('User is NOT subscribed.');
              }
            });
          } else {
            console.warn('Push messaging is not supported');
          }
          })
        .catch((error) => {console.warn('Service worker registration failed, error:', error);});
      }
    </script>
</body>
</html>