<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Volvo Share</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
    <script src="../static/js/login.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<form action="" method="POST">
    <div style="margin: 20%">
      <div class="div1">
          <div class="row">
              <a id="logintext">Login with your VolvoShare account</a>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="name" name="name" type="text" class="validate">
              <label for="name">Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" name="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row" align="center">
              <button id="loginbutton" class="btn waves-effect waves-light" type="submit" name="action">Login
                  <i class="material-icons right">send</i>
              </button>
          </div>
      </div>
</form>
<div class="div2">
    <a id="signuptext">You don't have an account?</a>
    <a id="signupbutton" onclick="signup()" class="waves-effect waves-light btn-large"><i class="material-icons left">person_pin</i>SignUp</a>
    <img src="../static/images/volvo.png" id="logo">
</div>
</body>
</html>