<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="../css/profile.css">
    <script src="../js/profile.js"></script>
</head>
<body>
{% include "header.html" %}
<div class="row">
    <div class="col l12 m12 s12">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-image">
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col s4 profile-pic">
                                <!--PROFILE SELFIE-->
                                <img class="circle responsive-img" src="https://lh3.googleusercontent.com/-W2XryVdi-lA/U6tSAh3SsbI/AAAAAAAAFGY/ZHJiUEcR_Zs/w480-h480/avatar%2Bmaterial%2Bdesign.png" alt="" />
                            </div>
                        </div>
                        <span class="card-title black-text" id="name">Pol</span>
                        <div class="card-content">
                        <p class="p1">Surnames</p>
                            <p class="p2">Valls Ortiz</p>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>